<h2 id = "monster-name">{{name}}</h2>
<div id="entry">
    <article>
        <br>
        <p>
            {{body}}
        </p>
    </article>

    <aside>
        <figure id = "cryptid-portrait">
            <span class = "icons">
              <p>Threat:</p>
                <input type = "range" max = "5" min = "0" value = "{{threat}}">
            </span>
            <img id = "cryptid" src="./assets/images/{{img}}" alt="guman">
            <span class = "icons">
                <p>{{type}}</p>
                <p>goo</p>
                <p>{{gender}}</p>
            </span>
        </figure>
        
    </aside>
</div>